.btn {
    width: 166px;
    height: 48px;
    background-color: #F27935 ;
    color:#fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    border-radius: 24px;
    position: relative;
    
}
.btn__text{
    display: inline-block;
    transition: all 0.8s;
    margin-right: 40px;
}
.btn__arrow {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 11px 12px;
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    transition: all 0.5s;
}
.btn:hover .btn__arrow{
    padding-right: 127px;
    border-radius: 24px;
}
.btn:hover .btn__text{
    margin-right: 10px;
}